body {
  background-color: #eceffc;
  text-align: center;
  color: white;
  font-family: "Ubuntu", sans-serif;
}

/*Form container*/
.container {
  width: 400px;
  height: 480px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  margin: 170px auto;
  padding-top: 1%;
  box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109),
    0 1px 1px rgba(128, 128, 128, 0.155),
    0 2.1px 2.1px rgba(128, 128, 128, 0.195),
    0 4.4px 4.4px rgba(128, 128, 128, 0.241),
    0 12px 12px rgba(128, 128, 128, 0.35);
}

.form {
  padding-top: 28px;
}

.icon {
  float: left;
  font-size: 153%;
  margin: 2% 0 0 6%;
}

input {
  display: block;
  width: 54%;
  margin: -3% 10% 10% 23%;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px 15px;
  color: white;
}

/*input effects*/

input:focus {
  background-color: #eceffc;
  color: black;
}

input:hover {
  background-color: #eceffc;
  color: black;
}

.checkbox {
  display: inline;
  height: 15px;
  width: 25px;
  margin-left: 0px;
  margin-right: 0px;
}

/*button*/
.btn {
  width: 60%;
  height: 40px;
  background-color: #e7e7e7;
  border-radius: 5px;
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  margin-top: 15px;
}

/*button effect*/
.btn:hover {
  background-color: #555555;
  color: white;
  border-color: white;
}

@media (max-width: 500px) {
  .container {
    width: 80%;
    height: 80%;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    margin: 50% auto;
    padding: 1% 1% 10%;
    box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109),
      0 1px 1px rgba(128, 128, 128, 0.155),
      0 2.1px 2.1px rgba(128, 128, 128, 0.195),
      0 4.4px 4.4px rgba(128, 128, 128, 0.241),
      0 12px 12px rgba(128, 128, 128, 0.35);
  }
}
